# Python
__pycache__/
*.py[cod]
.env
venv/
*.egg-info/

# Data
data_lake/
*.parquet

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# dbt
dbt_transforms/target/
dbt_transforms/logs/

# Logs
*.log